In [3]:
# 프로그램 성능 평가 중요 2가지 요소 - 시간 복잡도, 공간 복잡도
# 시간 복잡도 : 프로그램이 실행되는데 사용되는 문장의 수 
# 공간 복잡도 : 프로그램이 실행되는데 사용되는 메모리 용량

# 빅5의 n 복잡도, n 제곱 복잡도 
# 시간복잡도 :단순하게 표현하자면... 실행해야 할 프로그램 소스코드 문장의 수 
# 0(빅오) - 표기법 : 시간복잡도 표기 방법 
# 0 표기법 
# <--------------------- 빠름 
# 0(1) > 0(log n) > 0(n) > 0(n log n) > 0(n 제곱) > 0(n세제곱) > 0(2의 n제곱) > 0(n!)

In [6]:
i=0
while i<5:
    i+=1
    print("*"*i)
#===============

*
**
***
****
*****

In [8]:
i=0
while True:
    print(i)
    i+=1
    if i == 100 :
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [10]:
for i in range(10000):
    print(i)
    if i==99:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [12]:
for i in range(10):
    #i 가 짝수인 경우에만 출력, continue 문
    if i % 2 == 0:
        print(i)
    else: continue

0
2
4
6
8

In [13]:
# for i in range(횟수): #i=0
#     for j in range(횟수):
#         문장1
#         문장2
#     문장3
#     문장4
# 문장5
# 문장6

In [15]:
# for i in range(3):
#     for j in range(2):
#         문장1
#         문장2
#     문장3
#     문장4
# 문장5
# 문장6

In [20]:
for i in range(4):
    result = ""

    for j in range(4):
        result += "*"
        
    print(result)

****
****
****
****

In [22]:
for i in range(4):
    for j in range(3):
        print("*", end="")
    print()

***
***
***
***

In [24]:
a=[]
a.append(10) # 리스트 안에 리스트를 넣는 경우 
a

[10]

In [25]:
a.extend([20, 30]) # 리스트에 요소 추가 
a

[10, 20, 30]

In [28]:
a.insert(1, 15) # 특정위치에 요소 삽입
a

[10, 15, 15, 20, 30, 40]

In [29]:
a.insert(len(a), 40)
a

[10, 15, 15, 20, 30, 40, 40]

In [32]:
# 20 과 30 사이에 한 번에 25, 27을 추가 
a.insert(3, [25,27])
a

[10, 15, 15, [25, 27], [25, 27], [25, 27], 20, 30, 40, 40]

In [39]:
# 시작번호와 끝번호를 동일하게 하면 여러개의 데이터를 추가할 수 있음.
a=[10, 15, 15, 20, 30, 40, 40]
a[4:4]=[25, 27]
a

[10, 15, 15, 20, 25, 27, 30, 40, 40]

In [42]:
a=[10,15,20,30,40]
a.insert(len(a)-2,[25,27])
a

[10, 15, 20, [25, 27], 30, 40]

In [49]:
# pop:마지막 요소. 특정 번호의 데이터 삭제
# remove : 데이터 값을 찾아서 삭제
a=[4,5,6]
#a.pop()
#a.pop(1)
del a[1]
a

[4, 6]

In [51]:
a=[4,5,6]
a.remove(5)
a

[4, 6]

In [54]:
a=[4,5,6]
a.index(6)
a

[4, 5, 6]

In [58]:
a=[4,5,6,4]
print(a.count(4))
a

2

[4, 5, 6, 4]

In [63]:
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[6, 5, 4, 4]

In [64]:
a=[4,5,6,4]
print(sorted(a))
print(a)

[4, 4, 5, 6]
[4, 5, 6, 4]

In [67]:
a
a.clear()
del a[:]
a

[]

In [74]:
# 데이터 추가
a=[100, 200]
# 300, 400 
#a.extend([300, 400])
a[len(a):]=[300, 400]
a

[100, 200, 300, 400]

In [78]:
a.clear()

a
len(a)

if len(a): #len(a) != 0
    print("비어있지 않음")
else: 
    print("비어있음")
    
#a=[] # 데이터가 없으면 거짓 
if a : # a에 데이터가 있으므로 참
    print("비어있지 않음")
    
# if 에 논리연산을 사용할때, True 긍정을 사용하고 else 에 false 부정을 사용하는게 보편적으로 사용됨.

비어있음

In [82]:
a=[3,1,2,4,5]
# for idx, v in enumerate(a):
for idx, v in enumerate(a, start=1):

    # enumerate(a)
#     print(idx) # index 번호 
#     print(v)
    print(idx,v)

1 3
2 1
3 2
4 4
5 5

In [83]:
a=[3, -2, 5, 1, -6]

In [89]:
# a 리스트에서 양수만 출력 
for idx, v in enumerate(a):
    if v > 0:
        print(v)

3
5
1

In [91]:
for i in a:
    if i > 0:
        continue
    else:
        a.remove(i)
print(a)

[3, 5, 1]

In [92]:
a=[3, 7, 1, 5, 2]

In [96]:
#a 리스트에서 최소값 
small=a[0]
for i in a:
    if i < small:
        small=i
print(small)

1

In [98]:
#a 리스트에서 최소값 
big=a[0]
for i in a:
    if i > big:
        big=i
print(big)

7

In [99]:
a

[3, 7, 1, 5, 2]

In [101]:
a.sort()

In [103]:
a[0] # sort(reverse=True) #a[len(a)-1]

1

In [106]:
print(min(a))
print(max(a))

1
7

In [108]:
sum(a)

18

In [111]:
# list comprehension(리스트 내포(표현식)) :리스트 내부에 for, if문을 사용할 수 있게 만듦
#-> 리스트 생성

# [              ]

#리스트 표현식 작성법 
#[식 for 변수 in 리스트]
x=[x for x in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
# li=[]
# for i in range(10):
#     li.append(i)

# [x for x in range(10)]
list((x for x in range(10))) # 제너라이터

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [114]:
[x+1 for x in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [115]:
#리스트 내포를 이용하여 10 ~ 20 까지 값을 갖는 리스트 생성

In [117]:
nums = [x for x in range(10,21)]
nums

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [124]:
# [0, 5, 10, 15, 20, 25]
# 

[x for x in range(0, 26) if x%5==0]

# [x for x in range(0, 26, 5)]
# [x*5 for x in range(0,6)]

[0, 5, 10, 15, 20, 25]

In [132]:
# [식 for 변수 리스트 if 조건식]
[i for i in range(10) if i%2 ==0]

# """
# 1) range(10)   => 0, 1, 2, .... 9
# 2) if i%2 ==0  => 
# 3) 뽑아낸 짝수가 i에 전달 되어 리스트가 생성됨.  
# """

[0, 2, 4, 6, 8]

In [134]:
# 0~9까지 숫자 중에서 홀수에 3을 곱한 리스트를 생성
[i*3 for i in range(10) if i%2 !=0]

[3, 9, 15, 21, 27]

In [135]:
a=['a', 'b', 'c', 'd', 'e']
b=['A', 'B', 'C', 'D', 'E']

In [142]:
# [i+j for i in a for j in b]
mylist=[]
for i in a :
    for j in b:
        mylist.append(i+j)
mylist

['aA',
 'aB',
 'aC',
 'aD',
 'aE',
 'bA',
 'bB',
 'bC',
 'bD',
 'bE',
 'cA',
 'cB',
 'cC',
 'cD',
 'cE',
 'dA',
 'dB',
 'dC',
 'dD',
 'dE',
 'eA',
 'eB',
 'eC',
 'eD',
 'eE']

In [148]:
# 2단 ~ 0단 결과를 출력 
# [2, 4, 6, ....., 81]

# 2중 for 문
li=[]
for i in range(2, 10):
    #li.append(2*i)
    for j in range(1, 10):
        li.append(j*i)
print("li : ", li)

# 리스트 내포
mylist = [i* j for i in range(2, 10) for j in range(1,10)]
print("mylist : ", mylist)

li :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]
mylist :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [151]:
[i for i in range(30) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [153]:
# 사용 안하는 것이 좋음 
[i for i in range(30) if i%2==0 if i%3==0]

[0, 6, 12, 18, 24]

In [167]:
# 리스트 내포에서 else 도 사용 가능, 단, elif 는 불가 
# 0~9 까지 수를 리스트에 저장하고자 하는데, 짝수는 'even', 홀수는 'odd'

['even' if i%2==0 else 'odd' for i in range(0, 10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [169]:
#['zero', 'odd', 'even']

['zeor' if i==0 else 'even' if i%2==0 else 'odd' for i in range(0, 10)]

['zeor', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']