1.다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"

In [1]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

2.다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"

In [2]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

3.다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"

In [3]:
a = "hello world"
a.split()

['hello', 'world']

4.다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"

In [4]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

5.다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-12-30"

In [7]:
date = "2020-12-30"
print("{0}연도 {1}월 {2}일".format(date.split("-")[0], date.split("-")[1], date.split("-")[2]))

2020연도 12월 30일

6.문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "

In [8]:
data = "039490     "
data.rstrip()

'039490'

7.
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [40]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
#이름: 김민수 나이: 10
#이름: 이철희 나이: 13
        
        
print("이름:%s 나이:%d" % (name1, age1))  
print("이름:%s 나이:%d" % (name2, age2))

이름:김민수 나이:10
이름:이철희 나이:13

8. 문자열의 format( ) 메서드를 사용해서 7번 문제를 다시 풀어보세요.

In [ ]:
print("이름:{0} 나이:{1}".format(name1, age1))        
print("이름:{0} 나이:{1}".format(name2, age2))

9. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
price = "5,969,782,550"

In [58]:
price = "5,969,782,550"
result=int("".join(price.split(',')))
print("정수: ", result, "타입: ",type(result))

a=price.split(',')
result=int("".join(a))
result=int("".join(price.split(',')))
print("정수: ", result, "타입: ",type(result))

정수:  5969782550 타입:  <class 'int'>
['5', '969', '782', '550']
정수:  5969782550 타입:  <class 'int'>

10. 다음과 같은 문자열에서 '2020/12'만 출력하세요.
분기 = "2020/12(E) (IFRS연결)"

In [68]:
str1 = "2020/12(E) (IFRS연결)"
print(str1.split()[0].split("(")[0])

a=str1.split()
a[0].split("(")[0]

2020/12

'2020/12'

11. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'

In [71]:
string = 'abcdfe2a354a32a'
string.replace('a', 'A')

'Abcdfe2A354A32A'

12.
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보세요.
pin = "881120-1068234"

In [79]:
pin = "881120-1068234"
idx = pin.index('-')+1
print(type(idx))
print("성별을 나타내는 숫자 : " + pin[idx:idx+1])

<class 'int'>
성별을 나타내는 숫자 : 1

13.다음과 같은 문자열 a:b:c:d가 있다. a#b#c#d로 바꿔서 출력해 보세요.
a = "a:b:c:d"

In [80]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

14. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보세요.
(join 활용)

In [82]:
list1 = ['Life', 'is', 'too', 'short']
" ".join(list1)

'Life is too short'