1.리스트 생성
2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

순위	영화
1	닥터 스트레인지
2	스플릿
3	럭키

In [3]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

---

2.movie_rank 리스트에 "배트맨"을 추가하라.

In [2]:
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

---

3.movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [6]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [7]:
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

---

4.movie_rank 리스트에서 '럭키'를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [8]:
movie_rank.remove('럭키')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

---

5.movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [16]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

---

6.price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
출력 예시:
[100, 130, 140, 150, 160, 170]

In [18]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

---

7.슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])# 0~ 마지막 까지 출력 인덱스 2씩 증가

li = []
for num in nums:
    if num%2 != 0: #나머지 0이 아닌 경우 
        li.append(num)
print(li)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

---

8.슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
실행 예:
[5, 4, 3, 2, 1]

In [47]:
nums = [1, 2, 3, 4, 5]
print(nums[4::-1]) #제일 끝에서 -1씩 인덱스 

# reverse 뒤집기
nums.reverse()
nums

[5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

---

9.interest 리스트에는 아래의 데이터가 저장되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 Naver

In [61]:
interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0]+ " " +interest[2])

result = ""
itr = interest[0::2]
for i in itr:
    result += (i + " ")
    
print(result)

삼성전자 Naver
삼성전자 Naver

---

10.interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [82]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

itr = ""
for i in range(len(interest)):
    itr += interest.pop(0)+" "
    
print(itr)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

---

11.interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [146]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
itr = ""
for i in range(len(interest)):
        itr += interest.pop(0)+"\n"
print(itr,end="") # end="" 마지막 개행문자 제거

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

---

12.리스트에 있는 값을 오름차순으로 정렬하세요.
data = [2, 4, 3, 1, 5, 10, 9]

In [110]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

---

13.홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
※ 문자열 슬라이싱 기법을 사용해 보자.

In [128]:
홍길동 = '881120-1068234'
print(홍길동[:6])
print(홍길동[7:])

li = 홍길동.split("-")
print("연월일 [{0}] 주민등록 번호 [{1}] 입니다.".format(li[0], li[1]))

881120
1068234
연월일 [881120] 주민등록 번호 [1068234]

---

14.(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [137]:
t1 = (1, 2, 3)
li=list(t1)
li.append(4)
t1=tuple(li)
t1

(1, 2, 3, 4)

---

15.딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
 a = {'A':90, 'B':80, 'C':70}
※ 딕셔너리의 pop 함수를 사용해 보자.

In [145]:
a = {'A':90, 'B':80, 'C':70}
print(a.pop('B'))
a

80

{'A': 90, 'C': 70}

---

특별문제(회문? 앞으로 읽으나 뒤로 읽으나 동일한 문자 패턴)
#1)
단어를 입력 ? test
회문이 아닙니다.
#2)
단어를 입력 ? abcba
회문입니다.

In [174]:
in_str = input()
print("입력 : %s" %in_str)
comp = in_str[::-1]
if in_str == comp :
    print("회문입니다.")
else :
    print("회문이 아닙니다.")

efef
입력 : efef
회문이 아닙니다.