In [9]:
x, y=input("숫자 두 개를 입력 : ").split()
print(int(x)+int(y))

숫자 두 개를 입력 : 1 2
3

In [10]:
x=int(input("숫자 두 개를 입력 : "))
print(x+2)

숫자 두 개를 입력 : 3
5

In [11]:
print(input("숫자 두 개를 입력 : ").split())

숫자 두 개를 입력 : 2 3
['2', '3']

In [ ]:
#['2', '3']
print(int('2')+3)

In [ ]:
#int(['2', '3']) error

In [ ]:
#map 함수 

x, y=map(int, input("숫자 두 개를 입력 : ").split())
print(x+y)

In [1]:
print(map(int, input("숫자 두 개를 입력 : ").split()))

숫자 두 개를 입력 : 1 2
<map object at 0x000001859C2A8F40>

In [2]:
# 숫자 입력 : 1, 2
# 3

In [8]:
x, y=map(int, input("숫자 입력 :").split(','))
print(x + y)

숫자 입력 :1, 3
4

In [10]:
print(10, 20, 30)
print(10, 20, 30, sep=",")
print(10, 20, 30, sep="")

10 20 30
10,20,30
102030

In [16]:
# boolean, 참 또는 거짓 결과값 상수
# 비교연산자, 논리연산자 => 연산 결과가 불린형
print(3>2)
print(1==2)   # = 의미? 오른쪽의 값을 왼쪽에 assing, == 의? equal 
print(1 != 2) # != (not equal)

print('test' == 'test')
print('test' != 'Test') # 대문자 구분 주의 필요 

'Trump' 'trump' 

'donald_trump' 'trump'

'sky' 'Sky'
# 자연어 전처리 과정에서는 대소문자를 통일하는 작업을 수행

True
False
True
True
True

'skySky'

In [17]:
10 >= 10 # 크거나 같다. 기준 왼쪽 기준으로 읽을 것.

True

In [20]:
True # 대문자 T로 표현되는 것 주의할것.

True

In [27]:
#논리 연산자 : and, or, not 연산자 
True
False 

# and : 모두 다 참인경우만 참이되는 연산자 
True and False
True and True 

# or : 적어도 하나 이상이 참인 경우 참이되는 연산자 
True or False
True or True 

# not : 참 -> 거짓, 거짓 -> 참 
not True

# 논리 연산자 우선순위 : not, and, or 
not True and False

True and True or not True # not 우선순위가 높음 


not True and False or not False
# => False and False or True
# => False or True 
# => True

not True and False or not False

True

In [29]:
1==1 and 1!=2
# 비교연산자 : 2개, 논리 연산자 : 1
# 우선순위가 비교 > 논리

True

In [35]:
#bool() 정수, 실수, 문자 -> 불린 
print(bool(100))
print(bool(-100))

print(bool(1))
print(bool(0)) # 거짓 

print(bool(3.14))
print(bool(-1.1))
print(bool(0.1))
print(bool(0.0)) # 거짓 

print(bool('a'))
print(bool("test"))
print(bool(""))

x="donald_trump"

if x: 
   print("정상처리")
else:
    print("비정상 처리")

True
True
True
False
True
True
True
False
True
True
False
정상처리

In [36]:
'mulcam' and True

True

In [44]:
# 문자열 관련 함수 
print("I eat 2 apples")

# 포매팅
x= 20
print("I eat %d apples" %x)

# 문자열 
a="three"
print("I eat %s apples" %a)

I eat 2 apples
I eat 20 apples
I eat three apples

In [53]:
print("I ate %d applse. so I was sick for %s days" % (3, "three"))

I ate 3 applse. so I was sick for three days

In [56]:
"www" and True
True and "www"

'www'

In [58]:
x=2.1

print("I eat %d apples" %x)
print("I eat %f apples" %x)
print("I eat %.1f apples" %x)

I eat 2 apples
I eat 2.100000 apples
I eat 2.1 apples

In [61]:
print("Accuracy is 90%")
print("Accuracy is %d%%" %90)

Accuracy is 90%
Accuracy is 90%

In [62]:
print("%10s" % "hello")  # 10칸 확보 후 우측 정렬
print("%-10s" % "hello") # 10칸 확보 후 우측 정렬

     hello
hello

In [65]:
num=3
day="five"

In [66]:
print("I ate %d applse. so I was sick for %s days" % (3, "five"))
print("I ate %d applse. so I was sick for %s days" % (num, day))

print("I ate {0} applse. so I was sick for {1} days".format(num, day))

#{0}: format 함수의 첫번째 인수 
#{1}: format 함수의 두번째 인수

I ate 3 applse. so I was sick for five days
I ate 3 applse. so I was sick for five days
I ate 3 applse. so I was sick for five days

In [67]:
print("I ate {1} applse. so I was sick for {0} days".format(num, day))

I ate five applse. so I was sick for 3 days

In [68]:
print("I ate {num} applse. so I was sick for {day} days".format(num=3, day="three"))

I ate 3 applse. so I was sick for three days

In [71]:
print("{0:<10}".format("hello"))
#:<10 의미? 은 전체 자리수가 10자리, 왼쪽 정렬
print("{0:>10}".format("hello"))
#:<10 의미? 은 전체 자리수가 10자리, 오른쪽 정렬
print("{0:^10}".format("hello"))
#:<10 의미? 은 전체 자리수가 10자리, 가운데 정렬
print("{0:$^10}".format("hello"))
#:<10 의미? 은 전체 자리수가 10자리, 공백을 채울때

hello
     hello
  hello
$$hello$$$

In [74]:
#(문자열) 내장 함수 : 문자열 자체적으로 문자열 관련 함수를 가지고 있음 
# 사용 방법 : 문자열(변수), 내장함수()

"data".count('a')
"data".count('z')

x="data"
x.count('a')

2

In [79]:
# function find()

print(x.find('a')) # 'a' 의 위치, 0번부터 시작
print(x.find('b')) # 문자가 없는 경우에는 -1 리턴

print(x.index('a'))
print(x.index('b')) # 문자가 없는 경우에는 에러발생

1
-1
1

ValueError: substring not found

In [89]:
#"a, b, c, d" => "abcd"
x="a,b,c,d"
# abcd 출력 

print(x.split()) # x에 저장된 문자열을 공백 문자로 분리
res=x.split(",") # x에 저장된 문자열을 공백 문자로 분리

['a,b,c,d']

In [91]:
print(",".join(res))
# res 에 저장되어 있는 각각의 문자가 컴마(,)로 연결 

# split <-> join

a,b,c,d

In [93]:
print("test".capitalize())
print("test".upper())
print("test".lower())

Test
TEST
test

In [96]:
a=" hello "
b="hi"
print(a,b, sep="")

 hello hi

In [99]:
print(a.strip()) # 양쪽 공백 제거 
print(a.lstrip()) # 왼쪽 공백 제거 
print(a.rstrip()) # 오른쪽 공백 제거

hello
hello
 hello

In [103]:
#' hello ' != 'hello'

a="Python is too easy"
print(a.replace("easy", "difficult"))

print(a.replace("o", "t"))

Python is too difficult
Pythtn is ttt easy

#### 오후 자료구조

#### 알고리즘 정의
- 문제를 해결하기 위한 (가장 좋은) 방법

#### 자료구조 -> 자료를 저장 및 관리하는 방법 
- 파이썬 자료구조 
- 튜플, 리스트(중요), 셋, 딕셔너리(중요)

In [ ]:
x=1
x=3
# 리스트 : 데이터를 일렬로 늘어놓은 구조 
# - 리스트 변수명 = [요소값, 요소값, 요소값,...]  일반적 구조

In [110]:
a = [] # 빈 리스트
a2=[10, 20, 30]
a3=['hi', 'hello']
a4=[10, 20, 'hi']
a5=[10, 'hi', 1.14, True] #리스트에 여러 가지 자료형에 해당되는 자료를 하나로 묶음

a6=list()

In [105]:
a

[]

In [111]:
print(a, a2, a3, a4, a5)
print(a6)

[] [10, 20, 30] ['hi', 'hello'] [10, 20, 'hi'] [10, 'hi', 1.14, True]
[]

In [117]:
# 리스트에서 추출 작업 
# index 0 부터 시작 
a=[10, 20, 30, 40]

a[2]+a[3]

70

In [118]:
a[-1]
a[-3]

40

In [135]:
a=[10,20,30,40,[50,'a','6']]
a[4]
a[-1]
a

# 리스트는 리스트를 요소값으로 할 수 있다.

[10, 20, 30, 40, [50, 'a', '6']]

In [137]:
a[4][1]
a[-1][1]
a[4][-2]
a[-1][-2]

'a'

In [139]:
a=[10,20,30,40,[50,'a',[3.14, True, 100], 'b']]

In [141]:
# 3.14 출력
a[-1][2][0]
a[-1][-2][-3]

3.14

파이썬 언어 - 리스트(동적, dynamic)
- 넘파이 배열(array, static, 정적) 처리 속도가 빠름.
- 배열과 리스트는 다름.

a=[]

리스트의 자료를 나누는 작업

In [147]:
a=[10, 20, 30, 40, 50]

a[0:2] # 시작번호(포함) : 끝번호 (포함 x)
a[:4]
a[1:]

[20, 30, 40, 50]

In [143]:
s="mulcam"
s[0:3]

'mul'

강사님 이메일 주소 : gspark@kw.ac.kr

In [153]:
a=[10, 20, 30, ['가', '나', '다'], 40, 50, 60]

In [156]:
a[3][0:2]

['가', '나']

In [157]:
a=[10, 20]
b=[30, 40]

In [159]:
print(a*3)
print(a+b)

[10, 20, 10, 20, 10, 20]
[10, 20, 30, 40]

In [160]:
len(a) # 리스트, 문자열, 딕셔너리, 튜플
len("hello")

2

In [165]:
# 흔하게 많이 하는 실수 
s=[10,20,"hi"]
s

[10, 20, 'hi']

In [166]:
s[1]+"hi" # 구하고자 하는 값을 구하기 위해 연산하는 타입이 서로 다른 경우 발생

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [167]:
str(s[1])+"hi"

'20hi'

In [182]:
# function range 연속된 수의 수열을 만들어주는 함수 

list(range(5))
list(range(2,5))

# print(list(range(10,50)))
# print(list(range(10,50,3))) # 3씩 증가해서 작성 

print(list(range(-10,50,2)))
print(list(range(-10,50,-2)))

# range(시작, 끝, 증감값)
# 넘파이에 있는 range 함수는 실수값으로 증감값을 나타낼 수 있음
list(range(20,0,-2))
# list(range(20,0))

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[]

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [201]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [236]:
a=range(5,0,-1)
print(a)
list(range(5,0,-1))

# res=[]
# x=list(range(50, 0, -5))
# x 
# res[0]=x[0]/10
# res[1]=x[1]/10

a= [10, 20, 30]
a[2]= 40
a

range(5, 0, -1)

[10, 20, 40]

In [237]:
del a[2]

In [238]:
a

[10, 20]

In [239]:
a=list(range(10,101,10))
a

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [241]:
del a[3:]

In [242]:
a

[10, 20, 30]

In [245]:
a=[10, 20] #append 함수 : 리스트의 맨 마지막에 추가 
a.append(30)
print(a)

[10, 20, 30]

In [246]:
a.append('hi')
a

[10, 20, 30, 'hi']

In [247]:
a.append([100,200])
a

[10, 20, 30, 'hi', [100, 200]]

In [248]:
# sort 함수 : 정렬 
a=[30, 10, 20]
a

[30, 10, 20]

In [250]:
a.sort()
a

[10, 20, 30]

In [ ]:
# 문자는 ascii 코드 값을 기준으로 정렬 
# 인코딩: 코드화(문자, 숫자 등) -> 코드(0,1) 하는 작업 
# 디코딩 : 코드(0,1) -> 문자, 숫자 등

# 인코딩/디코딩 방식: ascii, ebcdic, bcd, utf8, utr16, euc-kr 등등 

# 아스키 : 모든 숫자/숫자를 7비트로 표현 (7비트 = 128까지 문자를 표현 가능)
# 0~127까지 코드 

# utf-3byte

In [253]:
a=['b','c','Z','t','v']
a.sort() # 기본적으로 오름차순 정렬됨(A:65 ~ Z:90, a:97 ~ z:122)
a

['Z', 'b', 'c', 't', 'v']

In [255]:
a.reverse() # 역순으로 나열 
a

['Z', 'b', 'c', 't', 'v']

In [256]:
a=['b','c','Z','t','v']
a.sort()
a.reverse()
print(a)

['v', 't', 'c', 'b', 'Z']

In [260]:
a=['b', 'c', 'Z','t','v', '0']
a.sort(reverse=True)
print(a)

['v', 't', 'c', 'b', 'Z', '0']

In [262]:
chr(65) # 아스키 코드 값을 문자로 변환

'A'

In [ ]:
chr(65)
chr(90)
chr(95)
chr(0)
chr(127)

In [263]:
a=['b', 'c','Z','t','v','0', chr(95)]

a.sort(reverse=True)
print(a)

['v', 't', 'c', 'b', '_', 'Z', '0']