In [6]:
#작업 : 1~ 5까지의 합을 구하시오. -> 15, 주석문(설명문)
sum=0 #변수(variable)

#sum=1+2+3+4+5

sum=1
sum=sum+2 #연산자 우선순위 
sum=sum+3
sum=sum+4
sum=sum+5 # 15 

print(sum)

15

In [13]:
sum = 0
for i in range(1, 6): # range(시작값, 끝값(5)+1)
    sum += i
    print("합계", sum)
print(sum)

합계 1
합계 3
합계 6
합계 10
합계 15
15

In [15]:
print((5*(5+1)/2))
print(100*(100+1)/2)

15.0
5050.0

In [18]:
print("hello world")
#함수 실행(호출)

hello world

In [20]:
print("hello world")
print("123")

print("hellow world \n123")

hello world
123
hellow world
 123

In [23]:
print("hello world");print("123");print("123")
#세미콜론으로 여러 문장을 구분할 수 있다

hello world
123
123

In [30]:
# 파이썬은 들여쓰기가 문법
a=1
if a==1 :
    print("1입니다")
    
if a==1 : print("1입니다")

1입니다
1입니다

In [32]:
# 파이썬은 들여쓰기가 문법
a=10
if a>0 : # 만약에 a 가 10 보다 크다면 아래 문장으로 이동 
    if a < 3: # 만약에 a 가 3보다 작다면 아래 문장으로 이동
        print("0 보다 커요")
        print("3보다 작습니다.")
    print("a는 자연수 입니다.")
if a==1 : print("1입니다")

a는 자연수 입니다.

In [32]:
# 파이썬은 들여쓰기가 문법
a=10
if a>0 : # 만약에 a 가 10 보다 크다면 아래 문장으로 이동 
    if a < 3: # 만약에 a 가 3보다 작다면 아래 문장으로 이동
        print("0 보다 커요")
        print("3보다 작습니다.")
print("a는 자연수 입니다.")
    
if a==1 : print("1입니다")

a는 자연수 입니다.

In [33]:
x =0o17 #8진수 17을 의미 0, 1, 2, ....7, 10, 11, ..., 17,20.... 
print(x) # 10진수로 변환되어 출력 

# 8의 1승*1 + 8의 0승 * 7 = 15

15

In [34]:
x=0xA # 16진수 0, 1, 2, 3, .... 9, A, B, C, D, E, F, 10.... 1F, FF .......

print(x)

10

In [36]:
print(4+2)

6

In [38]:
4+2
4-2 # 가장 마지막에 연산의 결과만 화면출력, 특징

2

In [39]:
# 하나의 셀 안에서 모든 라인의 결과를 출력하고 싶을때는 print 함수로 묶어줄 것.

print(4+2)
print(4-2) # 가장 마지막에 연산의 결과만 화면출력, 특징

6
2

In [42]:
print(4+2)
print(4-2)

print(5/2) # 파이썬 3.x 대 버전에서는 실수형(2.5)
# 파이썬은 2.x 대 버전에서는 실수형(2.5)

6
2
2.5

In [43]:
5//2

2

5.5

In [44]:
5.5//12

0.0

In [45]:
4//20

0

In [46]:
# 거듭제곱
2**3 # ==> 


# 거듭제곱
2**100 # ==>

10141204801825835211973625643008

In [ ]:

print(5/3)

In [ ]:
5//2.0 # 실수데이터

In [ ]:
print(5/3) # 뭣
print(5%3)

In [49]:

print(int(5//2.2))

print('5')
print(5.5)

2
5
5.5

In [67]:
print('5')
# print('5' + 1)

print('5' + '1')
print(int(3.14))
print(int("5")) # 숫자 점수로 문자를 숫자로 변환
print : int(3.14)    
# print(int("5.7"))    
print(float("5.1")+5) # 숫자(실수) 로된 문자를 숫자로

5
51
3
5
10.1

In [72]:
# //, %

divmod(5, 3) # 몫과 나머지 구하는 함수 
#5를 3으로 나눈 몫과 나너미지

# 함수명() : 함수
#(,) : 튜플(자료형 중의 하나)

m,n=divmod(5,3)

1 2

In [74]:
print(m)
print(n)

1
2

In [82]:
res=divmod(5, 3)
print(res)
print(res[0])
print(res[1])
print(res[2])

(1, 2)
1
2

IndexError: tuple index out of range

In [86]:
print(type(5))
# 3.14
print(type(5.1))

<class 'int'>
<class 'float'>

In [88]:
float(5) # 강제로 실수형으로 변경
type(float(5))
float(1+3)
float('3.14')
#type('3.14') #문자형

4.0

In [89]:
(1+2)*3
# 연산자 우선순위가 헷갈리면? 괄호로 묶어라

9

In [90]:
5//3
5%3

2

In [92]:
x, y, z= 1, 2, 3
print(z)

3

In [95]:
a=b=1
print(a, b)
type(a)

1 1

int

In [1]:
# 변수 값 교환
x=2 
y=3

In [2]:
#z=x
#print(z)

# x=y
# y=z
x,y = y,x

print(x) #3
print(y) #2

3
2

In [4]:
del x # 메모리에서 x에 할당된 값을 삭제 시킴

In [5]:
print(x)

NameError: name 'x' is not defined

In [ ]:
a=3

In [ ]:
print(a)

In [ ]:
b=None #값이 없음을 의미, 다른 언어에서는 Null 로 표기
#None : 값이 들어가 있지 않은 변수를 선언

In [9]:
a=3
#a=a+1, a=a-1
#a+=1, a-=1

#축약형이 존재 

#a=a+1 a+=1 같음
# 연산하는게 한번으로 이뤄지기 때문에 사용되어짐 

x=-3
print(x)
print(+x)

-3
-3

In [ ]:
#변수 입력 
#x=3 

input() # 입력 할 수 있는 창이 출력 됨

In [15]:
i=input("숫자를 입력한 후 엔터를 치세요. : ")
j=input("두번째 숫자를 입력한 후 엔터를 치세요 : ")

숫자를 입력한 후 엔터를 치세요. : 5
두번째 숫자를 입력한 후 엔터를 치세요 : 3

In [24]:
print(int(i))
print(int(j))
print(int(i)+int(j)) # '5'

# print(i+j) # '5'

5
3
8
53

In [35]:
x=input("단어를 2개 입력: ") #x="hi hello"
a, b=x.split("h") #문자열을 공백으로 분리
#문자열에 대해 어떤 연산을 수행하고자 하는 경우에는
#문자열.함수이름()

print(x)

print(a)
print(b)

단어를 2개 입력: happyday
happyday

appyday

In [41]:
x=input("단어를 2개 입력: ") #x="hi hello"
res=x.split("ab") #문자열을 공백으로 분리
#문자열에 대해 어떤 연산을 수행하고자 하는 경우에는
#문자열.함수이름()
# print(x)

print(res)
# print(b)

단어를 2개 입력: habhabhab
['h', 'h', 'h', '']

In [42]:
# 문자열L
xl = """LIfp
"hello"
'hello'
"hi"
'hello'
"""

In [ ]:
x= ""LIfe
Life 
is 
too 
111w

In [43]:
x = 'Python's'
print(x)

SyntaxError: invalid syntax (<ipython-input-43-1dd6cfb39730>, line 1)

In [44]:
he='"Python is easy." he says'
print(he)

"Python is easy." he says

In [46]:
s="Life\n is too \nshort"
print(s)

Life
 is too
short

In [49]:
s="life"
print("-"*50)
print(s*5)
print("-"*100)
print("g"*100)

--------------------------------------------------
lifelifelifelifelife
----------------------------------------------------------------------------------------------------
gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg

In [54]:
s="life"
print(len(s))
s[2]
s[-1]
s[0]

4

'l'

In [61]:
# 문자열 추출 범위 콜론 사용 []
s="Life is too short"
print(s[5])
print(s[5:]) #5번 index ~ 마지막 까지
print(s[:4]) #맨 앞에서부터 3-1번 index 까지 추출 

print(s[:])
print(s[5:-3])

i
is too short
Life
Life is too short
is too sh

In [71]:
s="saience" #a -> c
# s[1]='c'

s[:1]+'c'+s[2:]

'science'