In [1]:
# 리스트에 요소 삽입 inset 
# 리스트 요소 추가 append
# 리스트 확장 extend

In [88]:
# insert함수 : 리스트내의 특정 위치에 데이터를 삽입
a=[10,20,30]
a.append(100)

In [ ]:
 a

In [ ]:
# 데이터 추가 insert 
a.insert(1, 15)

In [ ]:
a

In [ ]:
# 요소 추가
a.append([50,60])
a

In [ ]:
# 요소 확장
a.extend([70,80])
a

In [87]:
# 튜플 tuple

In [3]:
a= [10,20,30]

In [4]:
# pop : 가장 마지막 요소를 제거 

# a.pop() # 가장 마지막 요소를 꺼낸 다음 제거 

data = a.pop()

In [6]:
data

30

In [8]:
a

[10, 20]

In [10]:
a=[10,20,30]
a.pop(1)

20

In [12]:
a

[10, 30]

In [13]:
# 튜플? 리스트와 거의 비슷.
# 리스트 : [], 튜플 : ()
# 리스트는 데이터를 생성,수정, 삭제 등 수행 
# 튜플은 데이터를 변경할 수 없음.
# - 튜플은 데이터 참조용으로 사용할때 많이 사용되어짐.

In [24]:
tup1=()
tup1
print(type(tup1))

tup2=(1) # 잘못사용된 예
tup2
print(type(tup2)) #int

tup2=(1,)
tup2
print(type(tup2))

tup3=(10, 20, 30)
print(tup3) # 결과가 소괄호로 묶여 있다....? 튜플 

tup4=1,2 
print(tup4)

<class 'tuple'>
<class 'int'>
<class 'tuple'>
(10, 20, 30)

(1, 2)

In [26]:
tup4

(1, 2)

In [29]:
# 특정요소를 제거
# 에러 발생의 경우 
# del tup4[0]

tup4[1]= 3

TypeError: 'tuple' object does not support item assignment

In [31]:
tup4

(1, 2)

In [33]:
l4 = list(tup4) # 튜플 -> 리스트

In [35]:
l4[1]=3
l4

[1, 3]

In [38]:
tup4=tuple(l4) # 리스트 -> 튜플

In [40]:
tup4

(1, 3)

In [43]:
tup5 = (10,20, '가','나')
tup5

(10, 20, '가', '나')

In [47]:
print(tup5[3])
print(tup5[2:])

나
('가', '나')

In [53]:
print(tup5)
print(tup3)
tup5+tup3

(10, 20, '가', '나')
(10, 20, 30)

(10, 20, '가', '나', 10, 20, 30)

In [54]:
li1 = [1,2]
li2 = [3,4]
li1+li2

[1, 2, 3, 4]

In [56]:
li1*5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [59]:
tup5

(10, 20, '가', '나')

In [61]:
tup5*3

(10, 20, '가', '나', 10, 20, '가', '나', 10, 20, '가', '나')

In [63]:
len(li1)

2

In [66]:
len(tup5)

4

In [68]:
range(5) #0~4

range(0, 5)

In [70]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

In [75]:
tuple(range(10, 15))

(10, 11, 12, 13, 14)

In [77]:
list("data") # list 함수를 통해서 문자열을 넣게 되었을때, 문자열 list 가 생성 되어짐

['d', 'a', 't', 'a']

In [79]:
tuple("data")

('d', 'a', 't', 'a')

In [80]:
# set(셋): 파이썬에서 집합을 의미
# 중복된 데이터가 없게끔 만들어줌
# 중괄호, 컴마 구분

In [90]:
s1={1,2,3,1,2,4}
print(s1)
s2={'hi', 'hello', 'bye', 'hi'}
print(s2) # 자료가 랜덤하게 출력, 저장 순서가 없음 => 대괄호 기호를 사용하여 데이터 참조를 할 수 없음.

# ex
#s2 = {'a', 3, 'b', 1, 'c', 1, 2, 3} # {1, 2, 3, 'a', 'b', 'c'}
#print(s2)

{1, 2, 3, 4}
{'hello', 'bye', 'hi'}

In [92]:
# 리스트나 튜플에서는 데이터 참조시 대괄호([]) 기호를 사용
# 리스트 변수명 [3] : 3번 index 자료 추출
s2[1]

TypeError: 'set' object is not subscriptable

In [94]:
s2={'hi', 'hello', 'bye', 'hi'}
s2

{'bye', 'hello', 'hi'}

In [96]:
# in 연산자
'key' in s2
'bye' in s2

# not in 연산자
'bye' not in s2

False

In [97]:
a=set('hello')
a

In [98]:
range(5) # range 객체 : 0~4 까지 범위를 갖는 값들을 포장해 놓은 포장물(객체)

# 객체? 객체지향언어에 등장하는 클래스로부터 파생된 실체 (인스턴스)

range(0, 5)

In [ ]:
list(range(5)) # 포장지를 뜯어성리스트 형태로 만듦
tuple(range(5)) # 포장지를 뜯어성 튜플 형태로 만듦
set(range(5))   # 포장지를 뜯어성집합 형태로 만듦

In [99]:
c=set()
c # 공집합

set()

In [101]:
c={} #dictionary
type(c)

dict

In [103]:
set("반가워요 반가워")

{' ', '가', '반', '요', '워'}

In [104]:
a={10,20,30}
b={30,40,50}
#c={} dict

In [108]:
a | b # or 연산자, 합집합 
set.union(a,b)

{10, 20, 30, 40, 50}

In [110]:
# 교집합 (intersection)
a & b # and 연산자, 교집합
set.intersection(a,b)

{30}

In [113]:
# 차집합 (difference)
a-b
set.difference(a,b)

{10, 20}

In [117]:
# 대칭차집합, XOR 연산
a^b

{10, 20, 40, 50}

In [121]:
# 값 1개 추가하기 
# 이미 만들어진 set 자료형에 값을 추가 할 수 있다.
a.add(40)
a

{10, 30, 40}

In [119]:
a.remove(20)
a

{10, 30}

In [123]:
#a.remove(30) 에러발생
# 데이터가 없는 경우 remove 를 사용했을때는 에러가 발생됨
#a.discard(20) 에러 발생 안함 
# 데이터가 없는 경우 discard 를 사용했을때는 에러가 발생되지 않음
a.discard(30)

In [135]:
a={'sk',10,20,30,'가','k'}

In [136]:
a.pop()

10

In [137]:
a

{20, 30, 'k', 'sk', '가'}

In [138]:
a.pop()

'k'

In [140]:
a

{20, 30, 'sk', '가'}

In [141]:
# 집합은 자료의 순서가 유지강 안됨
# set 자료구조는 자료의 저장 순서가 필요없으면서 중복을 제거해야 하는 상황

In [142]:
a.clear() # 자료 삭제

In [144]:
a

set()

In [156]:
s={10,20,30}

In [157]:
s2=s

In [158]:
s2

{10, 20, 30}

In [ ]:
#대입연산자로 새로운 변수에 할당하게 되면, 셋이 2개가 아니라 여전히 1개

In [160]:
s2.add(40)
s2

{10, 20, 30, 40}

In [163]:
s

{10, 20, 30, 40}

In [165]:
# s, s2 집합이 동일한 집합인지 확인하는 연산자 
# is : 

s is s2

True

In [166]:
# copy() : 두 개의 완전히 분리된 집합을 생성하기 위한 함수

In [169]:
a={10, 20, 30}

In [170]:
# b=a 동일한 집합 
b=a.copy()

In [173]:
b

{10, 20, 30}

In [175]:
# 두 집합이 동일한지 확인
print(a is b)
# False 의 의미 ? a 집합과 b 집합의 자료들이 자료들이 메모리 상의 다른 위치에 저장되어 있다. 

# == : 두 집합에 속해 있는 요소가 동일한지 확인.
print(a == b)

False

# dictionary 딕셔너리 (매우중요)

### * 단어 : 설명 
### * 딕셔너리 -> 키 : 값 
### * 딕셔너리 : 키와 값(밸류, valuse) 의 쌍으로 구성 
### * json 파일이 딕셔너리 구조

### 딕셔너리 = {키1: 값1, 키2: 값2, ..... 키n: 값n}

In [191]:
people={'name':'kim'
        , 'cp':114
        , 'birth': '0707'
        , 'gender': None
        , 10: 'ten'
        , True:1
        , 'nickname' : ['ai', 'root']
        #, ['ai', 'root'] : 'nickname'
        , 'dic1' : {'dic2': 'vlaue1', 'dic3' : 'value2'}
        , 'cp' : 119 # 키 이름이 중복되면 마지막 키에 해당하는 값이 저장
        }
# 버전에 따라 결과가 다르게 나올 수 있음. 
# 파이썬 버전 등... 사용한 버전 정보를 기록 하는게 좋다. (산출물 등에 명시)
# 숫자보다 문자열로 key 값을 사용하는것이 좋음. 어떤 의도 어떤 것인지 보기에 좋음, 또 자료들이 대부분 문자열로 되어있음

In [192]:
people

{'name': 'kim',
 'cp': 119,
 'birth': '0707',
 'gender': None,
 10: 'ten',
 True: 1,
 'nickname': ['ai', 'root'],
 'dic1': {'dic2': 'vlaue1', 'dic3': 'value2'}}

변수명 = {

    성명, 
    주소, 
    성별, 
    별명,
    취미

}

In [194]:
jsson = {
    '성명': '손준수', 
    '주소': '서울 강동구', 
    '성별': '남자', 
    '별명': '준츄',
    '취미': ['게임하기','운동하기', '노래감상']
}

In [196]:
jsson

{'성명': '손준수',
 '주소': '서울 강동구',
 '성별': '남자',
 '별명': '준츄',
 '취미': ['게임하기', '운동하기', '노래감상']}

In [199]:
s={} # dic 생성
s=dict()
type(s)

dict

In [227]:
dict()

# people={'name':'kim', 'cp':114{}

# mydic = dict(name='kim', cp=114)
mydic = dict(name='kim', cp=114)

# mydic = dict('name'='kim', 'cp'=114)
#dict 함수를 사용해서 생성시에는 키에 작은 / 큰 따오묘를 사용한면 안됨!!! 

mydic

{'name': 'kim', 'cp': 114}

In [228]:
# dict 함수 zip 함수를 활용하여 딕셔너리를 생성
# 잘 사용하지 않는 방법 
dict()

{}

In [229]:
dict(zip(['one', 'two'], [1,2]))

{'one': 1, 'two': 2}

In [230]:
# 딕셔너리의 키에 연결된 값을 추출하는 작업 
mydic['name']

'kim'

In [231]:
mydic['bloodtype'] = 'B'

In [232]:
mydic

{'name': 'kim', 'cp': 114, 'bloodtype': 'B'}

In [213]:
mydic['addr'] # 없는 키를 호출 했을때,

KeyError: 'addr'

In [233]:
mydic['cp'] = '119'

In [234]:
mydic

{'name': 'kim', 'cp': '119', 'bloodtype': 'B'}

In [235]:
# mydic ['addr']

# 딕셔너리 키가 존재? 
'name' in mydic

True

In [236]:
len(mydic) # 몇쌍 있느냐

3

In [242]:
# key 관련 함수 

res = mydic.keys()

In [244]:
list(res)

['name', 'cp', 'bloodtype']

In [245]:
for k in mydic.keys():
    print(k)

name
cp
bloodtype

In [247]:
list(mydic.values())

['kim', '119', 'B']

In [248]:
mydic.items()

dict_items([('name', 'kim'), ('cp', '119'), ('bloodtype', 'B')])

In [249]:
list(mydic.items())
# 1개의 리스트 내부에 3개의 튜플이 존재 
# 각 튜플은 2개의 요소로 구성

[('name', 'kim'), ('cp', '119'), ('bloodtype', 'B')]

In [251]:
li=[1, 2, 3]
li[0]

1

In [254]:
li=[('name', 'kim'), ('cp', '119'), ('bloodtype', 'B')]

In [256]:
list(mydic.items())[1][1]

'119'

In [257]:
mydic.clear()

In [259]:
li=[('name', 'kim'), ('cp', '119'), ('bloodtype', 'B')]

In [261]:
mydic=dict(li)
mydic

{'name': 'kim', 'cp': '119', 'bloodtype': 'B'}

In [265]:
mydic['cp'] # mydic.get('cp') 같은 구문

'119'

In [271]:
# mydic['addr'] # 해당 키가 없는 경우에는 에러 발생
# .get('addr') 은 해당 키가 없는 경우에도 에러가 발생되지 않음
mydic.get('addr', '서울')

# bloodtype 키가 존재하면 값을 리턴, 키가 존재하지 않으면 AFmf 디폴트값으로 리턴
mydic.get('bloodtype', 'A')

'B'

In [273]:
mydic

{'name': 'kim', 'cp': '119', 'bloodtype': 'B'}

In [275]:
# 특정 키가 잇는지 없는지 확인해야 하는 경우

'nickname' in mydic

False

In [276]:
del mydic['cp']

In [2]:
mydic

NameError: name 'mydic' is not defined

In [ ]:
## 딕셔너리 연습##

In [18]:
t={'새우깡': 1000, '감자칩':2000, '요구르트':500}

In [19]:
t

{'새우깡': 1000, '감자칩': 2000, '요구르트': 500}

In [20]:
t['생수'] = 500

In [21]:
t

{'새우깡': 1000, '감자칩': 2000, '요구르트': 500, '생수': 500}

In [22]:
t['새우깡']
t.get('새우깡')

1000

In [23]:
t['감자칩']=1500

In [14]:
t

{'새우깡': 1000, '감자칩': 1500, '요구르트': 500, '생수': 500}

In [24]:
del t['요구르트']

In [26]:
t

{'새우깡': 1000, '감자칩': 1500, '생수': 500}

In [36]:
# 새우깡 1000 5 
# 생수 500 10 

제품={'새우깡': [1000, 5]
,'생수': [500, 10]}
       
       
가격={'새우깡':1000, '생수':500}    
재고 = {'새우깡':5, '생수':10}

In [37]:
print(제품)
print(가격)
print(재고)

{'새우깡': [1000, 5], '생수': [500, 10]}
{'새우깡': 1000, '생수': 500}
{'새우깡': 5, '생수': 10}

In [38]:
가격['새우깡']
재고['새우깡']

5

In [40]:
제품['생수']

[500, 10]

In [43]:
str(가격['새우깡'])+"원"

'1000원'

In [44]:
print(str(가격['새우깡'])+"원", str(재고['새우깡'])+"개")

1000원 5개

In [46]:
제품={'새우깡': [1000, 5],'생수': [500, 10]}

In [52]:
#생수의 재고량을 출력 

제품['생수'][1]

print(제품['생수'][1])
print(str(제품['생수'][1])+'개')

10
10개

In [55]:
str(list(제품.items())[1][1][1]) + '개'

'10개'

In [57]:
제품.keys()
list(제품.keys())

['새우깡', '생수']