1. 첫번째와 세번째 문자를 출력하세요.
letters = 'python'

In [4]:
letters = 'python'
print("첫번째 :",letters[0], "세번째 :",letters[2])

첫번째 : p 세번째 : t

2.뒤에 4자리만 출력하세요.
 cn="24가 2210"

In [7]:
cn="24가 2210"
print("뒤에 4자리 :", cn[4:])

뒤에 4자리 : 2210

3. 문자열에서 '파' 만 출력하세요.
s = "파이썬파이썬파이썬"

In [10]:
s = "파이썬파이썬파이썬"

print(s.split('이썬'))

['파', '파', '파', '']

4.문자열 '720'를 정수형으로 변환해보세요.
num_str = "720"

In [12]:
num_str = "720"
num_str = int(num_str)
print(num_str);type(num_str)

720

int

5. 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
data = "15.79"

In [13]:
data = "15.79"
data=float(data)
print(data);type(data)

15.79

float

6. 에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 
판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요.

In [16]:
air_con_tot = 48584*36
print(air_con_tot)

1749024

7. jumin="850701-1234567"
생년월일과 주민번호를 분리하세요.
성별을 추출하세요.
태어난 월을 추출하세요.

In [40]:
jumin="850701-1234567"

print("생년월일 : 19" + jumin[:2] + "년", jumin[2:4] + "월", jumin[4:6] + "일")
print("주민번호 : " + jumin[:6],"-","*"*7)

print("생년월일 주민번호 분리 :", jumin.split('-'))

# print(jumin[7:8])

if jumin[7:8] !='1':
    print("성별: 여자")
else :
    print("성별: 남자")

print("태어난 월 : " + jumin[2:4] + "월")

생년월일 : 1985년 07월 01일
주민번호 : 850701 - *******
생년월일 주민번호 분리 : ['850701', '1234567']
성별: 남자
태어난 월 : 07월