In [ ]:
# 추천시스템

# 컴퓨터공학과(학부) -> 대학원(인공지능전공-머신러닝,딥러닝,...전문가시스템,온톨로지,추천시스템, 석사)

# 추천시스템 : 컨텐츠 기반 필터링 추천시스템, 협업 필터링 추천시스템
#     => ~2010년대까지 인기가 있었음
#     => 잠재 요인 기반 필터링 추천시스템(행렬 분해)이 등장하면서 인기가 줄어듬
#협업 필터링 = KNN(K최근접이웃) + 잠재 요인 기법
#KNN(K최근접이웃) = 사용자 기반 + 아이템 기반 기법

Collaborative Filtering(협업필터링, CF) = 사용자 기반 + 아이템 기반 기법




#     4*5 행렬 = 
    
    
# 블랙위도우(1)    = 장르*0.2+배우*0.1+시간여유*0.05+...+돈*0.1
# 람보(0)     = 장르*0.2+배우*0.1+시간여유*0.05+...+돈*0.1
    
#컨텐츠 기반 필터링 추천시스템 : 재밌게 본 영화와 컨텐츠가 비슷한 영화를 추천

In [ ]:
사용자 기반 협업필터링 
우주소녀가 부여한 평점과 가장 유사한 사용자를 검색

In [43]:
critics={
    'BTS':{'암수살인':5, '바울':4, '할로윈':1.5},
    '손흥민':{'바울':5, '할로윈':2 }, #손흥민이가 암수살인을 본다면 평점은?
    '레드벨벳':{'암수살인':2.5, '바울':2, '할로윈':1},
    '트와이스':{'암수살인':3.5, '바울':4, '할로윈':5}
}

In [11]:
critics['손흥민']
critics.get('손흥민')
critics['손흥민']['바울']
critics.get('손흥민').get('바울')

5

In [15]:
#손흥민과 BTS사이의 거리 =((5-4)**2 + (2-1.5)**2) **0.5=1.118

In [16]:
from math import sqrt

In [19]:
#손흥민과 BTS사이의 거리 =sqrt(pow(5-4, 2)+pow(2-1.5, 2))

1.118033988749895

In [20]:
def dist(i,j): #거리를 구하는 함수
    return sqrt(pow(i,2)+pow(j,2))    
#i에는 바울에 대한 손흥민평점 - BTS 평점
#j에는 할로윈에 대한 손흥민평점 - BTS 평점

In [27]:
# v1=critics['손흥민']['바울']-critics['BTS']['바울'] #밑변의 길이
# v2=critics['손흥민']['할로윈']-critics['BTS']['할로윈'] #높이
# print(dist(v1,v2)) #빗변의 길이

1.118033988749895

In [30]:
for data in critics:
    if data != '손흥민':
        v1=critics['손흥민']['바울']-critics[data]['바울'] #밑변의 길이
        v2=critics['손흥민']['할로윈']-critics[data]['할로윈'] #높이
        print(data,"와의 거리 :",dist(v1,v2)) #빗변의 길이

BTS 와의 거리 : 1.118033988749895
레드벨벳 와의 거리 : 3.1622776601683795
트와이스 와의 거리 : 3.1622776601683795

In [33]:
#BTS가 본 영화중에서 손흥민이가 안 본 영화 제목과 평점 출력?
for dt in critics['BTS']:
    if dt not in critics['손흥민']:
        print(dt, critics['BTS'][dt])

암수살인 5

In [44]:
# movies = critics['BTS'].keys()-critics['손흥민'].keys()
# [(k, critics['BTS'][k]) for k in movies]


# for i in critics['BTS'] :
#     if i in critics['손흥민']:
#         pass
#     else : 
#         print(i,critics['BTS'][i])

critics={
    'BTS':{'암수살인':5, '바울':4, '할로윈':1.5},
    '손흥민':{'바울':5, '할로윈':2 }, #손흥민이가 암수살인을 본다면 평점은?
    '레드벨벳':{'암수살인':2.5, '바울':2, '할로윈':1},
    '트와이스':{'암수살인':3.5, '바울':4, '할로윈':5}
}

for data in critics['손흥민']:
    del critics['BTS'][data]

In [45]:
critics['BTS']

{'암수살인': 5}

In [46]:
for key, value in critics['BTS'].items():
    if key not in critics['손흥민']:
        print(key,value)

암수살인 5

In [47]:
critics = {


'레드벨벳': {



'택시운전사': 2.5,



'겨울왕국': 3.5,



'리빙라스베가스': 3.0,



'넘버3': 3.5,



'사랑과전쟁': 2.5,



'세계대전': 3.0,



},



'BTS': {



'택시운전사': 1.0,



'겨울왕국': 4.5,



'리빙라스베가스': 0.5,



'넘버3': 1.5,



'사랑과전쟁': 4.5,



'세계대전': 5.0,



},

'블랙핑크': {

'택시운전사': 3.0,

'겨울왕국': 3.5,

'리빙라스베가스': 1.5,

'넘버3': 5.0,

'세계대전': 3.0,

'사랑과전쟁': 3.5,

},

'소녀시대': {

'택시운전사': 2.5,

'겨울왕국': 3.0,

'넘버3': 3.5,

'세계대전': 4.0,

},

'마마무': {

'겨울왕국': 3.5,

'리빙라스베가스': 3.0,

'세계대전': 4.5,

'넘버3': 4.0,
'사랑과전쟁': 2.5,
},
'오마이걸': {
'택시운전사': 3.0,
'겨울왕국': 4.0,

'리빙라스베가스': 2.0,
'넘버3': 3.0,
'세계대전': 3.5,
'사랑과전쟁': 2.0,
},


'모모랜드': {
            '택시운전사': 3.0,
            '겨울왕국': 4.0,
            '세계대전': 3.0,
            '넘버3': 5.0,
            '사랑과전쟁': 3.5,
            },
'우주소녀': {'겨울왕국': 4.5,
             '사랑과전쟁': 1.0,
            '넘버3': 4.0},
            }

In [48]:
critics

{'레드벨벳': {'택시운전사': 2.5,
  '겨울왕국': 3.5,
  '리빙라스베가스': 3.0,
  '넘버3': 3.5,
  '사랑과전쟁': 2.5,
  '세계대전': 3.0},
 'BTS': {'택시운전사': 1.0,
  '겨울왕국': 4.5,
  '리빙라스베가스': 0.5,
  '넘버3': 1.5,
  '사랑과전쟁': 4.5,
  '세계대전': 5.0},
 '블랙핑크': {'택시운전사': 3.0,
  '겨울왕국': 3.5,
  '리빙라스베가스': 1.5,
  '넘버3': 5.0,
  '세계대전': 3.0,
  '사랑과전쟁': 3.5},
 '소녀시대': {'택시운전사': 2.5, '겨울왕국': 3.0, '넘버3': 3.5, '세계대전': 4.0},
 '마마무': {'겨울왕국': 3.5, '리빙라스베가스': 3.0, '세계대전': 4.5, '넘버3': 4.0, '사랑과전쟁': 2.5},
 '오마이걸': {'택시운전사': 3.0,
  '겨울왕국': 4.0,
  '리빙라스베가스': 2.0,
  '넘버3': 3.0,
  '세계대전': 3.5,
  '사랑과전쟁': 2.0},
 '모모랜드': {'택시운전사': 3.0, '겨울왕국': 4.0, '세계대전': 3.0, '넘버3': 5.0, '사랑과전쟁': 3.5},
 '우주소녀': {'겨울왕국': 4.5, '사랑과전쟁': 1.0, '넘버3': 4.0}}

In [49]:
#우주소녀에게 어떤 영화를 추천할까?

In [65]:
#우주소녀와 모모랜드 사이의 유클리디안 거리를 구해보자
def dist(name1, name2):
    sum=0
    for i in critics[name1]: #i는 우주소녀가 본 영화제목
        if i in critics[name2]: # 우주소녀가 본 영화(i)가  모모랜드가 본 영화목록에 있다면
            sum+=pow(critics[name1][i]-critics[name2][i],2)
    return sqrt(sum)

In [73]:
def topN(name, n=2, distfunc=dist):
    m_dist=[]
    for i in critics:
        if name != i : #우주소녀를 뺀 나머지
            m_dist.append((distfunc(name, i),i))
    m_dist.sort()
    print(m_dist[:n])           
    
    #거리를 정렬
    #return 거리가가장가까운N명

In [74]:
topN('우주소녀', 2) #우주소녀와 평점을 가장 비슷하게 준 n명 출력

[(1.5, '오마이걸'), (1.5811388300841898, '소녀시대')]
None

In [66]:
# for i in critics:    
#     print(dist('우주소녀', i)) #유클리디안 거리 출력

1.8708286933869707
4.301162633521313
2.8722813232690143
1.5811388300841898
1.8027756377319946
1.5
2.7386127875258306
0.0

In [ ]:
선형관계? 두 변수 사이의 직선적 관계를 의미
독립변수의 값에 기울기를 곱한 다음 숫자 상수를 더한 값으로 종속변수 값을 표현
ex) 키와 몸무게

독립변수(x)의 값에 따라 종속변수(y)의 값이 결정됨
(공부시간(x)에 따라 점수(y)가 결정됨)

점수=공부시간*10+20(기본점수)
10은 기울기, 20은 y절편

y=x*10+20

길동이는 5시간, 기본점수 20점

길동이 점수= 5*10+20 = 70점

In [ ]:
pandas.corr(데이터프레임)
#corr():데이터프레임 구성하는 모든 열들 간의 상관계수행렬

In [75]:
import seaborn as sns

In [77]:
iris=sns.load_dataset("iris")

In [79]:
iris.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [80]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]